@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --main-font: 'Outfit', sans-serif;
}

html, body, #root {
  display:flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  min-height: 100%;
  font-family: var(--main-font)
}