.login-window {
    display: flex;
    flex-direction: column;
    background-color: #196e97;
    align-items: center;
    padding: 10%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}