.login-window {
    display: flex;
    flex-direction: column;
    background-color: #196e97;
    align-items: center;
    padding: 10%;
}
.login-window h1{
    color: white;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    transform: translateY(-5px); 
    transition: transform 0.3s ease;
    padding: 10px;
}
.mb-3{
    width: 100%;
}
.mb-3 label{
    color: white;
}
.login-button{
    background: #58B8E4 !important;
    border: none !important;
}

.form{
    display:flex;
    flex-direction: column;
}
.register-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}