.subjects-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    height: 85vh;
}
.subjects-sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 221px;
    max-width: 350px;
    position: sticky;
    top: 0;
    background-color: #BBE3F8;
}
.subject-content{
    padding-left: 20px;
}
.search{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;;
}
.search input{
    width: 50%;
}
